/* General Button Styles */
.auth-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .btn-login, .btn-register {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 150px;
  }
  .alert-success {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 600px;
    margin: 2rem auto;
    background-color: #d4edda;
    color: #155724;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .btn-login {
    background-color: #4CAF50; /* TripAdvisor-like green */
    color: white;
  }
  
  .btn-login:hover {
    background-color: #45a049;
  }
  
  .btn-register {
    background-color: #ff6f61; /* A vibrant, complementary color */
    color: white;
  }
  
  .btn-register:hover {
    background-color: #ff5a4f;
  }
  
  /* Modal Header Styles */
  .modal-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .btn-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
  }
  
  /* Modal Body Styles */
  .modal-body {
    padding: 20px;
  }
  
  .modal-body label {
    font-weight: bold;
    color: #555;
  }
  
  .modal-body input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* Submit Button Styles */
  .btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  